<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xm-12">
    <div class="thumbnail">
      <div class="caption">
        <p>
        <strong>Title:</strong>
        <%= @blog.title %>
        </p>
        
        <p>
          <strong>Content:</strong>
          <%= @blog.content %>
      </p>
      
        <p><%= @blog.user.id %>
          <%= @blog.user.name %></p>
          
        <p><%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

