<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <ul class="formList">
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email, autofocus: true %></li>


    <li><%= f.label :password %></li>
    <li><%= f.password_field :password, autocomplete: "off" %></li>


  <% if devise_mapping.rememberable? -%>

      <li><%= f.check_box :remember_me %></li>
      <li><%= f.label :remember_me %></li>

  <% end -%>

    <li><%= f.submit "Log in" %></li>
  </ul>
<% end %>

<%= render "devise/shared/links" %>
