<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<%= link_to "Diver", root_path, class: "navbar-brand" %>
</div>

<div class="collapse navbar-collapse" id="navbarEexample7">
<ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

<li><%= link_to "お問い合わせ", new_contact_path %></li>
<% if user_signed_in? %>
<script>
var pusher = new Pusher('<%= Pusher.key %>');
var channel = pusher.subscribe('notifications' + <%= current_user.id.to_s %>);
channel.bind('message', function(data) {
$('#unreadcount').html(data.unread_count);
});
</script>
<li><%= link_to "ブログ", blogs_path %></li>
<li><%= link_to "マイタスク", user_tasks_path(current_user.id) if user_signed_in? %></li>
<li><%= link_to '新規依頼', user_submit_requests_path(current_user) if user_signed_in? %></li>
<li><%= link_to 'ユーザ一覧', users_path %></li>
<li><%= link_to "アカウント編集", edit_user_registration_path %></li>
<li class="dropdown notifications-dropdown menu_topic"><%= render 'layouts/dropdown/notifications' %></li>
<li><%= link_to "メッセージ", conversations_path %></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "ログイン", new_user_session_path %></li>
<li><%= link_to "サインアップ", new_user_registration_path %></li>
<% end %>
</ul>
<% if user_signed_in? %>
<p class="navbar-text navbar-right">ようこそ <%= current_user.name %> さん。</p>
<% else %>
<p class="navbar-text navbar-right">ようこそ ゲスト さん。</p>
<% end %>
</div>
</div>
</nav>
